.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 700%;
    min-height: fit-content;
}

.profile-parent{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details-name{
    font-size: 28px;
    font-family: "Poppins SemiBold";
}

.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1{
    font-size: 30px;
    font-family: cursive;
    will-change: contents;
    transform: translate3d(0, 0, 0);
    text-rendering: optimizeLegibility;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.role-animation-container {
    position: relative;
    display: inline-block;
}

.animated-role-text {
    background: linear-gradient(45deg, #ff4500, #ff8c42, #ffa500);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s ease infinite;
    transition: all 0.5s ease;
    display: inline-block;
    position: relative;
}

.animated-role-text::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 6px;
    background: linear-gradient(90deg, transparent, rgba(255, 69, 0, 0.6), transparent);
    border-radius: 50%;
    filter: blur(3px);
    opacity: 0.8;
}

.animated-role-text.fade-in {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.animated-role-text.fade-out {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.primary-text{
    color: (--white);
}

.highlighted-text{
    color: #ff4500;
}

.profile-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
  }
  .profile-picture-background {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url("../../../assets/Home/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
  }

  .colz .colz-icon {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .social-icon {
    width: 22px;
    height: 22px;
    color: white;
    transition: all 0.3s ease;
  }

  .social-link:hover .social-icon {
    transform: scale(1.1);
  }

  /* GitHub hover - dark gray */
  .social-link:nth-child(1):hover .social-icon {
    color: #333;
  }

  /* LinkedIn hover - blue */
  .social-link:nth-child(2):hover .social-icon {
    color: #0077b5;
  }

  /* YouTube hover - red */
  .social-link:nth-child(3):hover .social-icon {
    color: #ff0000;
  }

  /* iPad Pro */
  @media screen and (max-width: 1110px) {
    .profile-picture{
        margin: 0 0px 0 80px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 900;
    }
  }

  /* iPad */
  @media screen and (max-width: 910px) {
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
  }  

  /* Other mobile devices */
  @media screen and (max-width: 810px) {
    .profile-picture{
        margin: 0 !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .highlighted-btn{
        margin: 0 !important;
    }
    .profile-options, .profile-details-role {
        text-align: center;
    }
  } 

  /* For smaller screens of 375 pixels */
  @media screen and (max-width: 375px) {
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .profile-details {
        width: 90%;
    }
 }
 